/* CSS Normal Style */

body, html {
    font-family: Rubik, sans-serif;
    background-color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #DADADA;
}               

h1 {
    font-size: 30px;
    font-family: Rubik, sans-serif;
    color: black;
}
        
p {
    display: inline-block;
    font-family: inherit;
    color: white;
    font-family: nunito;
    font-size: 22px;}

#intro {
    padding: 1px;
    background-color: grey;
    border: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 0;
}

#intro h1 {
    color: white;
}

#breatheinstructions p {
    color: black;
}

#breatheinstructions {
    margin-bottom: -95px;
}

#gif {
    background-color: #DADADA;
    padding-top: 50px;    
}            

#history {  
    background-color: dodgerblue;
    margin-top: 0px;
    padding-top: 15px;
    border: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 0;
}
 
#history h2 {
    color: white;
    padding: 10px;
}

section p {
    line-height: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu > a {
    flex-grow:1;
    line-height: 3;
    background: #DADADA;
    color: black;
    text-decoration:none;
    text-align:center;
    padding:15px;
    border:1.5px solid dodgerblue;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 3px;
    margin-left: 3px;
    max-width: 250px;
    
}

.menu > a:hover {
    background-color: dodgerblue;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#practice {
    margin-top: 40px;
    font-family: Rubik;
    font-size: 20px;
    color: #4837e7;   
}

footer {
    background-color: grey;
    width: 100vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 80px;
    text-align: center;
    bottom: 0;
    position: relative;
}

footer a {
    color: white;
}

/*Animated button with cursor*/

.button {
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 4px;
    font-size: 24px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    top: 25px;
    transition: all 0.3s;
    cursor: pointer;   
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*CSS Responsive Style*/

@media only screen and (max-width:45em){
    .menu {
        flex-direction:column;
        margin-top: 50px;
    } 
.menu > a {
        margin-bottom: 10px;
        margin-top: 10px;
        max-width: 75vw;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        
    }
#gif img {
        width: 400px;
    }
}



    
