/* CSS */

body, html         {
                    font-size: 20px;
                    font-family: monospace;
                    background-color: white;
                    text-align: center;}

.headertext        {
                    font-size: 30px;
                    font-family: 'BioRhyme', serif;
                    color: dodgerblue;}
        


header #omlogo div {
                    background-color: white;
                    align-items: center;
                    padding-bottom: 10px;}

header figcaption  {   
                    padding-bottom: 15px;
                    color: dodgerblue;}

        
#instructions > li {    
                    list-style-type: none;
                    line-height: 50px;
                    margin: 10px;}


aside h3           {
                    padding-left: 20px;
                    color: darkslategrey;
                    font-size: 50px;
                    text-decoration: underline;
                    padding-bottom: 20px;}


aside              {         
                    padding-bottom: 10px;}


p                  {
                    line-height: 2.0rem;
                    font-family: inherit;
                    color: dodgerblue;}


#introheader       {
                    background-color: lightgrey;
                    height: 50px;
                    width: auto;
                    text-align: center;}


#protiptext        {
                    font-size: 15px;
                    font-family: monospace;
                    color: lightslategrey}


            
#localanchors      {
                    padding: 10px;
                    background-color: dodgerblue;}

#localanchors a    {
                    color: white;
                    text-decoration: none;
                    font-size-adjust: auto;
                    font-size: 30px;
                    line-height: 30px;
                    margin-right: 15px;
                    border: solid;
                    border-color: blue;
                    padding: 2px;
                    border-width: 2.5px;
                    border-radius: 9px;
                    border-bottom-width: 5px;}

#localanchors li   {
                    margin: 30px;
                    list-style: none;}

#introheader1      {
                    color: darkslategrey;
                    font-size: 25px;}

article p          {
                    margin-top: 30px;}

#history           {  
                    background-color: dodgerblue;}
 
#history h2        {
                    color: white;
                    padding: 10px;}

section p          {
                    line-height: 50px;}


#externalanchors   {
                    line-height: 4;
                    background-color: dodgerblue;}

#externalanchors li a { 
                    color: white;
                    font-family: sans-serif;}

audio              { 
                    width: 100px;}










